// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_form {
	padding-top: 1em;
	width: 40%;
	border-radius: 6px;
}

.comment_form h3 {
	}

textarea {
	background: white;
	padding: 1em;
	border-radius: 6px;
	border: none;
}

.comment_form .add_button {
	box-shadow: 1px 1px 2px #666;
}

.comment {
	padding: 1em;
	margin-bottom: 5px;
	border-bottom: 1px dotted #fff;
	border-top: 1px dotted #fff;
}