// Place all the styles related to the Names controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_ten {
	font-size: 1.6em;
	line-height: 1.2em;
}

.topten_name {
	text-transform: capitalize
}

ol.top_ten li {
	text-transform: capitalize;
}

.latest_names {
	font-size: 1.6em;
	line-height: 1.2em;
	float: right;
}

.latest_names li {
	font-size: 1.6em;
	line-height: 1.2em;
}